*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
}


  
.container {
   background: #51ffff;
   width: 1024px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
}

.row {
    display:flex;
    flex-wrap: wrap;
    margin-left: -15px ;
    margin-right: -15px;

}
@media screen and (max-width:600px) {
   
    .container {
        background: #51ffff;
        width: 100vw;
        
     }

    .row {
        display: flex;
        flex-flow: column;
        
        
        
       }
    div.col-100, div.col-70, div.col-50, div.col-30, div.col-25, div.col-20 {
        padding: 0;
        margin: 10px;
    } 

       .cover {
           width: 100%;
           
       }
    
    .mnav{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
       
            }
  
    .mnav ul li a{
      
        border-bottom: 2px solid gray;
            } 
  

  .logo {
      
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

  }

}

.col-20 {
    flex: 0 0 20%;
    padding-left: 15px;
    padding-right: 15px;
   
}
.col-25 {
    flex: 0 0 25%;
    padding-left: 15px;
    padding-right: 15px;
  
    }

.col-30 {
    flex: 0 0 30%;
    padding-left: 15px;
    padding-right: 15px;
    
}
.col-50 {
    flex: 0 0 50%;
    padding-left: 15px;
    padding-right: 15px;
    
}

.col-70 {
    flex: 0 0 70%;
    padding-left: 15px;
    padding-right: 15px;
    
}
.col-100 {
    flex: 0 0 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.logo img {
    max-width: 50px;
 
}

ul.menu-area{
    display: flex;
   
   
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif,'Times New Roman', Times, serif;
}


ul.menu-area li{
/* margin-left: auto; */
}
.menu-area li a {
   padding: 15px;
   background: black;
   color: white;
   text-decoration: none;
}
.menu-area li a:hover {
   
   background: rgba(213, 20, 20, 0.364);
   color: rgb(0, 0, 0);
  
} 

.main-nav img{
   
   margin: 5px;
   border: 2px solid rgb(250, 121, 0);
   border-radius: 50px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(255, 4, 4, 0.486);
   
 }



.cover img{
    width: 100%;
   
    display: flex;
    align-items: center;
    align-content: center;
     }

 .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
      
  
     }
     .content h1 {
        text-align: center;
        color: #51ffff;
         font-size: 50px;
         background: transparent;
         font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
         transition: 0.5s;
     }
     .content h1:hover {
        color: transparent;
        -webkit-text-stroke: 1px #fff;
     }

     .content p {
         color: #fff;
         text-align: center;
         margin-top: 10px;
         font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  
         }
     .content a {
         color: #fff;
         text-align: center;
         border: 2px solid #fff;
         
         padding: 5px 30px;
         border-radius: 30px;
        text-decoration: none;
        transition: 0.5s;
       
         
     }
     .content a:hover {
    background: #fff;
    color: black;
    border-color: red;
       
         
     }





 .info-item h2, p {
    text-align: center;
    
    
    
 }
 .info-item img {
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px;
    border-radius: 10px;
    background: transparent;
    
      
 }

 .info-item {
    border: 2px solid gray;
    padding: 10px;
    border-radius: 20px;
    margin: 20px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
 .info-item:hover {
    background: #ffffff49;
    transition: 0.5s;
    border-color: rgba(255, 255, 255, 0.5);
 }

 .article-items {
     border: 3px solid grey;
     border-radius: 20px;
     padding: 10px;
     margin: 30px 0px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 .article-items:hover { 
    background: #ffffff49;
    transition: 0.5s;
    border-color: rgba(255, 255, 255, 0.5);
 }

.article-items h1{

    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 0;

}
.article-items img{

    width: 200px;
    height: 200px;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 10px;
   

}
.article-items img:hover{

    transition: 0.5s;
    transform: rotate(20deg);
}

.feedback form {
    background-color: #c0f1fa;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form input{
    border-radius: 10px;
    width: 100%;
    padding: 10px;
   
    display: inline-block;
    justify-items: center;
  
    
}
.form textarea {
    width: 100%;
    cursor: text;
    
}
.form input, label {
    margin-top: 10px;
    padding-top: 10px;
  
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    
}

.form input[type='text'], input[type='email'] {
background-color: white;
background-image: url('/images/logo.png');
background-position: 7px 6px; 
background-size: 30px 30px;
background-repeat: no-repeat;
padding: 12px 20px 12px 40px;

}


.form input:hover {
    border-color: aquamarine;
    
}

.form input[type="submit"] {
background: rgba(241, 217, 1, 0.644);
}
.form input[type="submit"]:hover {
background: rgba(163, 149, 25, 0.644);
}

/* main nav */

.main-nav {
    display: flex;
    background: orangered;
    color: white;
    border-radius: 3px;
    padding: 1em;
    font-family: sans-serif;
    align-items: center;
    align-content: center;
    
  }
  .main-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
   
    
 
  }
  .main-nav li {
    margin-right: 1em;
    flex: 0 0 100%;

  }
  .main-nav > form {
    display: flex;
    justify-content: flex-end;
    flex: 1;
   
    align-items: center;
    align-content: center;
  }
  .main-nav input {
    flex: 1;
    padding: 10px;
  }
  .main-nav button {
    background: white;
    border: 0;
    border-radius: .5em;
    color: orangered;
    padding: 10px 30px;
    margin-left: .5em;
  }
 @media screen and (max-width: 575px) {
   .main-nav {
     flex-direction: column;
   }
   .main-nav ul {
     flex-direction: column; /* Change this to 'column' to stack the links */
     margin-bottom: 1em;
   }
  }





.footer {
    padding: 20px;
    margin: 0px;
    background-color: black;
    color: #fff;
    font-size: 24px;

}

div.wrapper {
    display: flex;
}


.wrapper ul li{
    flex: 3;
    
    background-color: bisque;
    
}
